.characteristics {
  &__wrapper {
    position: relative;
    z-index: 1;
  }
  // .characteristics__title

  &__title {
    padding: 150px 0 55px 25px;
    @media (max-width: 1367px) {
      padding: 120px 0 14px 25px;
    }
    @media (max-width: 1100px) {
      padding: 120px 0 14px 0;
    }
    @media (max-width: 640px) {
      font-size: 35px;
      padding: 80px 0 15px 0;
    }
    @media (max-width: 540px) {
      font-size: 25px;
      line-height: 30px;
      padding: 60px 0 15px 0;
    }
  }

  // .characteristics__inner

  &__inner {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    @media (max-width: 1100px) {
      padding-left: 0;
    }
    @media (max-width: 640px) {
      display: block;
    }
  }

  // .characteristics__item

  &__item {
    margin-top: 25px;
    max-width: 280px;
    position: relative;
    @media (max-width: 640px) {
      margin-top: 0;
    }
    & + & {
      margin-top: 140px;
      @media (max-width: 1100px) {
        margin-top: 50px;
      }
      @media (max-width: 640px) {
        margin-top: 25px;
      }
    }
    @media (max-width: 640px) {
      max-width: 100%;
    }
    &.topleft::before {
      position: absolute;
      content: "";
      background-image: url("./images/icons/decor-topleft.svg");
      background-repeat: no-repeat;
      width: 242px;
      height: 132px;
      color: #c4c4c4;
      right: -169px;
      top: 16px;
      @media (max-width: 1200px) {
        width: 285px;
        height: 123px;
      }
    }
    &.bottomleft::before {
      position: absolute;
      content: "";
      background-image: url("./images/icons/decor-bottomleft.svg");
      background-repeat: no-repeat;
      width: 393px;
      height: 87px;
      color: #c4c4c4;
      right: -290px;
      top: 34px;
      @media (max-width: 1200px) {
        width: 377px;
        right: -274px;
        top: -20px;
      }
      @media (max-width: 1140px) {
        width: 396px;
        height: 80px;
        top: -46px;
      }
    }

    &.topright::before {
      position: absolute;
      content: "";
      background-image: url("./images/icons/decor-topright.svg");
      background-repeat: no-repeat;
      width: 214px;
      height: 105px;
      color: #c4c4c4;
      left: -233px;
      top: 16px;
      @media (max-width: 1200px) {
        width: 165px;
        left: -177px;
        top: 46px;
      }
    }

    &.bottomright::before {
      position: absolute;
      content: "";
      background-image: url("./images/icons/decor-bottomright.svg");
      background-repeat: no-repeat;
      width: 123px;
      height: 105px;
      color: #c4c4c4;
      left: -143px;
      top: -45px;
      @media (max-height: 1200px) {
        width: 115px;
        left: -125px;
      }
    }
    &.topleft::before,
    &.topright::before,
    &.bottomleft::before,
    &.bottomright::before {
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
  // .characteristics__item-title

  &__item-title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    @media (max-width: 540px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .characteristics__item-text

  &__item-text {
    opacity: 0.6;
  }

  // .characteristics__img

  &__img {
    margin: 0 -115px;
    @media (max-width: 640px) {
      margin: 0;
    }
    img {
      @media (max-width: 640px) {
        width: 100%;
        max-height: 193px;
      }
    }
  }
}
.section-page.characteristics::after {
  @media (max-width: 1100px) {
    display: none;
  }
}
