.questions {
  // .questions__wrapper

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  // .questions__title

  &__title {
    padding: 150px 0 25px 40px;
  }
  &__inner {
    padding-left: 25px;
  }
  // .questions__item

  &__item {
    position: relative;
    max-width: 690px;
    padding: 20px 20px 20px 40px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    transition: all 0.5s;
    &::before {
      position: absolute;
      content: url("./images/icons/bottom-arrow.svg");
      width: 72px;
      height: 67px;
      background: $main-color;
      top: 0;
      right: -72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:nth-child(3):after {
      position: absolute;
      content: url("./images/questions.png");
      width: 319px;
      height: 125px;
      top: 0;
      right: -392px;
    }
    &-title {
      font-size: 21px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 25px;
    }
    &-text {
      padding-left: 10px;
      visibility: hidden;
      height: 0;
    }
  }
}
.questions__item.questions__item--active {
  padding: 20px 20px 75px 40px;
}
.questions__item--active {
  .questions__item-text {
    visibility: visible;
    height: 100%;
  }
  &::before {
    content: url("./images/icons/top-arrow.svg");
  }
}
